# Python
.venv/
__pycache__/
*.pyc
.env
.env.local
.env.*.local
db.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
